* {

    box-sizing: border-box;
    background-color: white;
}

.container-1 {
    display: flex;
    align-content: space-evenly;
}
.item-1 {
    width: 50px;
    height: 50px;
    background-color: red;
    text-align: center;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 10px;
    color: #fff;
    justify-content: center;
    align-items: center;

}
.item-2 {
    width: 300px;
    height: 50px;
    margin-top: 4px;
    margin-left: 10px;

}
.item-3 {
    font-size: 30px;
    margin-top: 10px;
align-content: center;
 
}
.container-2 {
    display: flex;
    width: 400px;
    height: 200px;
    margin-top: 10px;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-sizing: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
}
.container-3 {
    display: flex;
    padding: 8px;
    margin-top: 10px;
    width: 400px;
    height: 100px;
}
.container-4 {
    display: flex;
    font-size: 30px;
    padding: 8px;

}
.item-4 {
    margin-left: 5px;
}
.item-5 {
    margin-left: 20px;
}
.item-6 {
    margin-left: 270px;
}